/* .App {
    background-color: #ffff00;
    font-family: 'myWebFont';
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 20%;
    gap: 1px 1px;
    grid-template-areas:
        "Header Header Header"
        "Dash Dash Dash"
        "User Form Friend"
        "Card Card Logout";
} */

.dashboard {
    background-color: #ffff00;
    font-family: 'myWebFont';
    grid-area: Auth;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dheader {
    grid-area: Header;
    font-size: 80px;
    text-align: center;
    background-color: black;
    /* border-top: 5px solid white;
    border-bottom: 5px solid white; */
    letter-spacing: 5px;
    padding: 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: white */
}


.groupform {
    display: flex;
    grid-area: Auth;
    align-items: center;

    align-self: stretch;
    margin: auto;
}

.groupContainer {
    display: flex;
    grid-area: Auth;


    /* justify-content: space-around; */
    /* align-self: stretch; */
    flex-wrap: wrap;
    margin: auto;
}

.logoutbutton {
    display: flex;
    font-size: 40px;
    /* align-items: center; */
    /* align-self: stretch; */
    margin: auto;
}

.joinbtn {
    margin: auto;
    font-size: 40px;
    color: black;
} 

.deletebtn {
    margin: auto;
    font-size: 40px;
    color: black
}

.leavebtn {
    margin: auto;
    font-size: 40px;
    color: black
}